# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Build / dist
dist/
build/

# Logs
*.log

# Env
.env
.env.local
